.popup {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  justify-content: center;
  align-items: flex-start;
  visibility: hidden;
  opacity: 0;
  transition: visibility .7s, opacity .7s linear;
  -moz-transition: all .7s;
  z-index: 2;
}

.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  -moz-transition: opacity .7s;
}

.popup__container {
  margin-top: 50px;
  height: 300vw;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
  border-radius: 10px;
	color: #000;
	position: relative;
}
.popup__title {
  margin-top: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.popup__label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #2F71E5;
}

.popup__input {
  padding: 0;
  margin: 8px 0 3px 0;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.popup__input::placeholder {
	font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  opacity: 0.2;
}

.popup__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,.5);
  cursor: pointer;
}

.popup__close-button {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: -30px;
  border: none;
  width: 24px;
  height: 24px;
  background-image: url(../../images/close-white-mobile.svg);
  background-color: transparent;
  background-size: cover;
}

.popup__error {
  margin: 0;
  height: 14px;
  margin-bottom: 13px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

.popup__form-error {
  margin: 0 auto;
  transform: translate(0, 18px);
}

.popup__submit-button {
  align-self: center;
  width: 288px;
  padding: 0;
  height: 64px;
  background: #2F71E5;
  border: none;
  border-radius: 100px;
  margin: 23px 0 0 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}

.popup__submit-button:hover {
	background: #347EFF;
	transition: .6s;
}
.popup__submit-button:active {
	background: #2A65CC;
	transition: .6s;
}

.popup__submit-button_disabled {
  opacity: .2;
  background-color: transparent;
  color: #000;
  pointer-events: none;
}

.popup__submit-button_disabled {
  background-color: #E6E8EB; 
}

.popup__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.popup__redirect {
  font-weight: 500;
  color: #2F71E5;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 582px) {
  .popup {
    align-items: center;
  }
  .popup__title {
		font-size: 24px;
		line-height: 29px;
	}
  .popup__submit-button {
    width: 358px;
    min-height: 64px;
  }
  .popup__close-button {
    width: 40px;
    height: 40px;
    right: -40px;
    top: -40px;
  }
	.popup__container {
    height: 380px;
    margin-top: 0;
		padding: 34px 36px 36px 36px;
    width: 430px;
    height: 380px;
	}
}