.project {
  background-color: #fff;
}

.page {
  max-width: 1440px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
}