@import url(./vendor/normalize.css);
@import url(./vendor/font.css);
@import url(../src/components/SearchForm/SearchForm.css);
@import url(../src/components/About/About.css);
@import url(../src/components/Footer/Footer.css);
@import url(../src/components/SearchResults/SearchResults.css);
@import url(../src/components/Header/Header.css);
@import url(../src//components/Navigation/Navigation.css);
@import url(../src/components/SavedNewsHeader/SavedNewsHeader.css);
@import url(../src/components/PopupWithForm/PopupWithForm.css);
@import url(../src/components/InfoPopup/InfoPopup.css);
@import url(../src/components/RegisterPopup/RegisterPopup.css);
@import url(../src/components/NewsCard/NewsCard.css);
@import url(../src/components/Preloader/Preloader.css);